<div class="blockContent">
<center>
<table border="0" width="100%">
	<tr>
		<td width="100%"><a href="<{$xoops_url}>/modules/xenttestimony/temoignage.php?op=XENT_TT_Quote&quote_id=<{$block.quote_id}>"><img src="<{$block.quote_pict}>" border="0" width="146" height="180" alt=""></a></td>
	</tr>
	<tr>
		<td class="even"><font size="1"><b><{$block.quote_nom}></b></font> </td>
	</tr>
	<{if $view_desclink == 1}>
		<tr>
			<td><font size="1"><em><a href="<{$xoops_url}>/modules/xentgen/desctitre.php?op=XENT_TT_DescTitre&id=<{$block.titreposte_id}>"><{$block.quote_titreposte}></a></em></font> </td>
		</tr>
	<{else}>
		<tr>
			<td><font size="1"><em><{$block.quote_titreposte}></em></font> </td>
		</tr>
	<{/if}>
	<tr>
		<td><font size="1"> <a href="<{$xoops_url}>/modules/xenttestimony/temoignage.php?op=XENT_TT_Quote&quote_id=<{$block.quote_id}>"><{$block.quote_quotetitle}></a></font> </td>
	</tr>
</table>
</center>
</div>