<table border="0" summary="">
    <tr>
	<td colspan="2" class="even" width="100%"><a href="index.php"><{$LANG_viewotherquote}></a></td>
	</tr>
	<tr>
        <td width="150"><img src="<{$quote_pict}>" border="0" width="146" height="180" alt="">

		<br>
		<!-- <b><{$LANG_nom}>:</b>  <br>--><u><{$quote_nom}></u><!-- <br> -->
		<br>
		<!-- <b><{$LANG_titreposte}>:</b> <br> -->
		<{if $view_desclink == 1}>
			<a href="<{$xoops_url}>/modules/xentcareer/desctitre.php?op=XENT_CR_DescTitre&id=<{$titreposte_id}>"><{$quote_titreposte}></a>
		<{else}>
			<{$quote_titreposte}>
		<{/if}>
		</i><br>
		<!-- <b><{$LANG_typeposte}>:</b> <br><{$quote_typeposte}> --><br>
		</td>
        <td>

		<b><u><{$quote_quotetitle}></u></b><br><br>
		<div style="text-align: justify"><{$quote_experience}></div><br><br>
		<div style="text-align: justify"><i><{$citation}></i></div>
		<br><br>
		<!-- <b><{$LANG_experience}>:</b> <br><{$quote_experience}><br> -->
		<!-- <b><{$LANG_location}>:</b> <br><{$quote_location}><br><br> -->
		<br>
		</td>
    </tr>

</table>